*
{
  margin:0;
  padding:0;
}
body
{
  font-family:Arial;
  line-height:1.4;
}
a
{
  color:#333;
  text-decoration:none;
}
.container{
  padding:3rem 4rem 4rem 4rem;
  background:#a7dbd7;
}
.submitBtn{
  display:inline-block;
  border:none;
  background:#7bd173;
  color:#fff;
  padding:7px 20px;
  cursor:pointer;
}
.btn:hover{
  background:#97c493;
}